<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.rebuy">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.main.MainActivity">
        </activity>
        <activity android:name=".business.account.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".business.account.activity.LoginActivity">
        </activity>
        <activity android:name=".business.account.activity.RegisterActivity">
        </activity>
        <activity android:name=".business.home.activity.LookAroundActivity">
        </activity>
        <activity android:name=".business.detail.GoodsDetailActivity">
        </activity>
        <activity
            android:name=".business.home.activity.PublishMessageActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name=".business.message.activity.MessageDetailActivity">
        </activity>
        <activity android:name=".business.mine.activity.PersonalInfoActivity">
        </activity>
        <activity android:name=".business.mine.activity.MineOrderActivity">
        </activity>
        <activity android:name=".business.mine.activity.MineShopActivity">
        </activity>
        <activity android:name=".business.mine.activity.MineCollectionActivity">
        </activity>
        <activity android:name=".business.mine.activity.MineSettingActivity">
        </activity>
    </application>

</manifest>